

a {
	color: white;
}

body {
	margin: 0px;
}


.container1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(75, 198, 242, 0.25);
}

h1 {
	font-family: fantasy;
	font-size: 1rem;
	border-right: 2px solid pink;
	border-bottom: 2px solid pink;
	width: 400px;
	text-align: center;
	/* It means will be shown in all supported browsers */
	-moz-box-shadow: 4px 4px 5px 5px #888888;
	-ms-box-shadow: 4px 4px 5px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px 5px #888888;
	-o-box-shadow: 4px 4px 5px 5px #888888;
	box-shadow: 4px 4px 5px 5px #888888;
	margin-top: 10px;
	margin-bottom: 20px;
	transition: all 1s;

	
}

img {
	width: 450px;
	height: 300px;
	margin: 16px;
/*	transition: all 1s; */
	box-shadow: 4px 4px 5px 5px #1262e3;
}
/*
img:hover {
	transform: scale(1.07);
}
*/

.container1 {
	transition: all 1s;
}

.container1:hover {
	transform: scale(1.04);
	background-color: rgba(75, 198, 242, 0.50);
}

h1:hover {
	transform: scale(1.07);
}
/*
.card-body:hover {
	transform: scale(1.05);
	padding-left: 30px;
}

.card-body:hover {
	transition: all 1s;
	padding-left: 40px;
}
*/
.nav:hover {
	transform: scale(1.05);
	color: #3dcde4;
}
.nav {
	transition: all 1s;
	margin-bottom: 10px;
	width: 1200px;

}

p {
	font-size: 1.2rem;
}

body {
  background-image: url("images.jpg");
  background-size: cover;
  background-color: transparent;

}